body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
  /* background image*/
    background-image: url("../img/pokemon-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 10px;
    border: 4px solid black;
    width: 800px;
}

li {
    padding-bottom: 20px;
}

.container {
    justify-content: center;
    display: grid;
}

.btn-primary {
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    background-color: inherit;
    border: 2px solid rgba(0, 0, 0, 0.56);
    border-radius: 40px;
    margin:20px auto
}

.btn-primary:hover {
    background-color: rgb(237, 181, 60);
    border: 3px solid black;
    color: rgb(219, 115, 91);
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
       transform: translate3d(-1px, 0, 0);
    }
     20%, 80% {
       transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
       transform: translate3d(-4px, 0, 0);
      }
    40%, 60% {
       transform: translate3d(4px, 0, 0);
  }
}

#search-bar {
    width: 170px;
}

/* Pokemon Modal */

.modal-footer {
    height: 60px;
    background-color: rgba(203, 182, 120, 0.61);
}

.modal-content {
    background-color: rgb(241, 239, 218);
    width: 500px;
    height: 600px;
}

.Pokeweight, .Pokeheight, .Poketype, .Pokename {
    text-align: center;
    user-select: none;
}

.Pokeweight, .Pokeheight, .Poketype {
    font-size: 20px;
    text-transform: capitalize;
}

.Pokename {
    font-size: 40px;
    font-weight: bold;
}

.PokeImage {
    width: 100%;
}
